<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my-auto"> 
            <h1 class"mb-1">Registra les teves notes</h1> 
            <h3 class"mb-3">
                <em> Introdueix el teu usuari i guarda-ho tot</em> 
            </h3>
            <a href="/signin" class="btn btn-primary">
                Comencem!
            </a>
        <div>
    </header>

</main>